.attributes_editor {
  background-color: #CCC;
  padding: 10px;
  margin: 0;
}

.draw_window {
    position: relative;
    display: block;
    height: 800px;
}

.attributes_editor textarea{
    height: 100px;
}

.row button {
    width: 100%;
}

#btn-save {
  background-color: tomato;
  font-size: x-large;
}
