<div class="container">
  <div class="row">
    <table class="text-white table table-responsive">
      <tbody>
        <tr>
          <th>Player-Host</th>
          <th>Difficulty</th>
          <th>Mode</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let game of multiplayerService.games">
          <td> {{game.playerHost}}</td>
          <td> {{game.difficulty}}</td>
          <td> {{game.mode}}</td>
          <td *ngIf="game.username2!==''"> FULL</td>
          <td *ngIf="game.username2==''"> Looking for player 2</td>
          <td>
            <button (click)="joinGame(game.id)" class="btn" [disabled]="game.player2 || username===''">Join </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>