<div class="container mt-5">
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{ 'btn-primary': configurationService.type === 'solo' }" (click)="configurationService.setType('solo')">Solo</button>
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{ 'btn-primary': configurationService.type === 'multiplayer' }" (click)="configurationService.setType('multiplayer')">Multiplayer</button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{ 'btn-primary': configurationService.mode == 'classic'}" (click)="configurationService.setMode('classic')">Classic</button>
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{ 'btn-primary': configurationService.mode == 'dynamic'}" (click)="configurationService.setMode('dynamic')">Dynamic</button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{'btn-primary': configurationService.level == 'easy'}" (click)="configurationService.setLevel('easy')">Easy</button>
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{'btn-primary': configurationService.level == 'normal'}" (click)="configurationService.setLevel('normal')">Normal</button>
      <button class="btn btn-default btn-lg btn-custom" [ngClass]="{'btn-primary': configurationService.level == 'hard'}" (click)="configurationService.setLevel('hard')">Hard</button>
    </div>
  </div>
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      <button class="btn btn-success btn-lg btn-custom" (click)="configurationService.startGame()">
        Start game
      </button>
    </div>
  </div>
</div>