<div class = "container"> 
    <div class="form">
        <h3 class="title">What's your nickname?</h3>
        <input class="usernameInput" id="usernameInput" type="text" maxlength="15" />
      </div>
    <table class="multiplayer-table">
      <tbody>
          <tr>
              <th class="hidden-xs">Player-Host</th>
              <th>Difficulty</th>
              <th>Mode</th>
              <th class="hidden-xs">Status</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let game of this.games">
              <td> {{game.username1}}</td>
              <td> {{game.difficulty}}</td>
              <td> {{game.mode}}</td>
              <td *ngIf ="game.username2!=''"> FULL</td>
              <td *ngIf="game.username2==''"> Looking for player 2</td>
              <td >
                  <button (click)="joinGame(game.id)"  class="btn"  [disabled]="game.username2!=''">Join </button>
              </td>
            </tr> 
      </tbody>
    </table>
</div>