<div class="container">
  <div class="row mt-5">
    <h1 class="text-white">Live Games</h1>
    <table class="text-white table table-responsive">
      <tbody>
        <tr>
          <th>Host</th>
          <th>Difficulty</th>
          <th>Mode</th>
          <th></th>
        </tr>
        <tr *ngFor="let game of lobbyService.games">
          <ng-template [ngIf]="game.challengerUsername === ''">
            <td> {{game.hostUsername}}</td>
            <td> {{game.difficulty}}</td>
            <td> {{game.mode}}</td>
            <td>
              <button (click)="lobbyService.joinGame(game.id); copyJoinedGameConfiguration(game.difficulty, game.mode)" class="btn" [ngClass]="{ 'btn-success' : game.challengerUsername === '' }"
                [disabled]="!lobbyService.canJoinGame(game.id)">
                Play
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>