<div *ngIf="track">
    <!--<h2>{{track.name}}  track details!</h2>
    <div><label>id: </label>{{track.trackId}}</div>
    <div>
      <label>name: </label>
      <input [(ngModel)]="track.name"  placeholder="name"/>
      <label>description: </label>
      <input [(ngModel)]="track.description"  placeholder="description"/>
      <label>type: </label>
      <input [(ngModel)]="track.type" placeholder="type"/>
      <label>appreciation: {{track.appreciation}} </label>
    </div>
    <button (click)="save()">Save</button>
  </div>-->

  <div class="card">
  <div class="card-header"><h1>Track Details</h1></div>
  <div class="card-block">
    <h4 class="card-title">{{track.name}}</h4>
    <p class="card-text">
      <label>name: </label>
      <input [(ngModel)]="track.name"  placeholder="name"/>
      <label>description: </label>
      <input [(ngModel)]="track.description"  placeholder="description"/>
      <label>type: </label>
      <input [(ngModel)]="track.type" placeholder="type"/>
      <label>appreciation: {{track.appreciation}} </label>
    </p>
    <button class="btn" (click)="save()">Save</button>
  </div>
</div>