#wrapper {
    border: 1px solid black;
    width: 580px;
    height: 640px;
    margin: 0 auto;
  }

  
  .filled {
    width: 58px;
    height: 58px;
    background: black;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
  }
  
  .empty {
    width: 58px;
    height: 58px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
  }
 
  .active{
    border: 3px solid red;
   
  }

