<div class="crossword-page" id="cloud-container" (click)="this.unselectWord()">
  <div class="spacing"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row" *ngFor="let row of this.crossword?.grid; let i = index">
          <div *ngFor="let square of row; let j = index">
            <input id="{{i}}_{{j}}" class="square" [ngClass]="{ 'black': this.crossword?.status[i][j].black, 'empty': this.crossword?.status[i][j].empty, 'found': this.crossword?.status[i][j].found, 'selected': this.crossword?.status[i][j].selected }"
              type="text" maxLength="1" pattern="[a-zA-Z]" ng-pattern-restrict [readonly]="this.crossword?.status[i][j].black || this.crossword?.status[i][j].found || !this.crossword?.status[i][j].selected"
              (keydown)="handleInput($event, i, j)" [(ngModel)]="this.crossword?.status[i][j].input" #square>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-crossword-hints [hints]="this.hints" [foundWords]="this.crossword?.foundWords" [selectedWord]="this.selectedWord" (selectedWordChanged)="this.selectWord($event)"></app-crossword-hints>
      </div>
    </div>
  </div>
</div>