<div id="page">
<div id="wrapper"> 
    
<tr *ngFor="let ligne of rawCrossword ; let i = index">
        <td *ngFor="let colonne of ligne; let j = index"  >
              
             
            <input 
                  
                [ngClass]="{'filled': colonne == '0', 'empty': colonne != '0','active':true == isActive(i,j)}" 
                type="text" maxLength="1"
                [(ngModel)]="rawCrossword[i][j]"   
               
                
            /> 
                
        </td>
    </tr>
</div>

<div id ="indices">
<h2>Indices</h2>
    <tr *ngFor="let hint of wordsIndexes; let k = index">

        <td >
          <button (click)="handleClick(k)"> <p>  {{hint.hint}} </p> </button>   
       </td>

    </tr>

</div>
</div>