#wrapper {
    border: 1px solid black;
    width: 580px;
    height: 640px;
    margin: 0 auto;
  }

  
  .filled {
    width: 58px;
    height: 58px;
    background:rgba(0,0,0,0);
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
    text-align: center;
  }
  
  .empty {
    width: 58px;
    height: 58px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
    text-transform: uppercase;
    text-align: center;
  }
 
  .active{
    border: 3px solid red;
   background-color: #E9D1D1
  }
.correctWord{
  border: 3px solid #7BF57B;
  background-color: #CAF8D0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events:none;
  
}
#hints{
  border-collapse:separate; 
  border-spacing:0px 4px;
  width: 180px;
  height: 280px;
  margin: 0 auto;
  float:left;
}


.selected{
  background-color: #B0B0E6

}

#page{
  background: url('./space_background.jpg');
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
}

#grid{
  border-top: 500px;
}

#Horizontal_Header {
  padding-left: 5px; 
  padding-bottom:3px; 
   color: #8AD1F1;
   font-weight:bold;
}

#Vertical_Header{
  padding-left: 5px; 
  padding-bottom:3px; 
   color: #8AD1F1;
   font-weight:bold;
}

#conteneur {
  display: flex;
}

#cheatModeOnBtn{
  background-color: green;
  margin-top :30px;
  margin-right: 10px;
  border-color: transparent
}

#cheatModeOffBtn{
  background-color: red;
  margin-top :30px;
  margin-right: 10px;
  border-color: transparent
}

.btn:hover{
  background-color: #B0B0E6

}

.btn:disabled{
  text-decoration: line-through
}

.btn:active{
  transform: translateY(4px);
}

#cheatModeOnBtn:hover{
  background-color: #99E09B

}

#cheatModeOffBtn:hover{
  background-color: #EC9C99

}

#cheatModeOnBtn:active{
  transform: translateY(4px);

}

#cheatModeOffBtn:active{
  transform: translateY(4px);

}

.loader {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #188F8D;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  text-align: center;  
}

.loadingText{
  position: absolute;
  left: 40%;
  top: 45%;
  z-index: 1;
  width: 650px;
  height: 150px;
  margin: -75px 0 0 -75px;
}
