<div class="crossword-page" id="cloud-container" (click)="crosswordGameService.deselectAll()">
  <div *ngIf="!crosswordGameService.gameInProgress">
    <div class="row">
      <div class="col-md-5">
        <app-crossword-menu></app-crossword-menu>
      </div>
      <div class="col-md-7">
        <app-crossword-lobby></app-crossword-lobby>
      </div>
    </div>
  </div>
  <div *ngIf="crosswordGameService.gameInProgress">
    <button class="btn btn-danger" (click)="crosswordGameService.endGame()">
      End game
    </button>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div *ngIf="configurationService.isMultiplayer()" class="row">
            <div class="col-md-12">
              <app-crossword-points></app-crossword-points>
            </div>
          </div>
          <div *ngIf="!crosswordGameService.gameCompleted && configurationService.isDynamic()" class="row">
            <div class="col-md-12">
              <app-crossword-countdown></app-crossword-countdown>
            </div>
          </div>
          <div *ngIf="crosswordGameService.gameCompleted" class="row">
            <div class="col-md-12">
              <app-crossword-end-game></app-crossword-end-game>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <app-crossword-cheat></app-crossword-cheat>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3 mb-3">
          <app-crossword-grid></app-crossword-grid>
        </div>
        <div class="col-md-6 mt-3 mb-3">
          <app-crossword-hints></app-crossword-hints>
        </div>
      </div>
    </div>
  </div>
</div>