<div id="cloud-container" *ngIf="!gameInProgress">
  <div class="spacing"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <div class="row mt-3 mb-3">
          <div class="col-md-12">
            <button class="btn btn-default btn-lg" [ngClass]="{ 'btn-primary': type === 'solo' }" (click)="setType('solo')">Solo</button>
            <button class="btn btn-default btn-lg" [ngClass]="{ 'btn-primary': type === 'multiplayer' }" (click)="setType('multiplayer')">Multiplayer</button>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-md-12">
            <button class="btn btn-default btn-lg" [ngClass]="{ 'btn-primary': mode == 'classic'}" (click)="setMode('classic')">Classic</button>
            <button class="btn btn-default btn-lg" [ngClass]="{ 'btn-primary': mode == 'dynamic'}" (click)="setMode('dynamic')">Dynamic</button>
          </div>
        </div>
        <div class="row mt-3 mb-3">
          <div class="col-md-12">
            <button class="btn btn-default btn-lg" [ngClass]="{'btn-primary': level == 'easy'}" (click)="setLevel('easy')">Easy</button>
            <button class="btn btn-default btn-lg" [ngClass]="{'btn-primary': level == 'normal'}" (click)="setLevel('normal')">Normal</button>
            <button class="btn btn-default btn-lg" [ngClass]="{'btn-primary': level == 'hard'}" (click)="setLevel('hard')">Hard</button>
          </div>
        </div>
        <div class="row mt-3 mb-3" *ngIf="type && mode && level">
          <div class="col-md-12" (click)="startGame()">
            <button class="btn btn-success btn-lg">
              Start game
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="gameInProgress">
  <app-crossword-game></app-crossword-game>
</div>