#cloud-container {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index:-1;
    height: 100%;
    width: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-image: url('../../../assets/background_proposal.png');
}

.spacing {
    height: 100px;
}