
<div class="track-detail" *ngIf="track">
  <h2 class="detailColor">{{track.name}} track details!</h2>
  <div>
    <label>Current name: </label>
    <label class="detailColor"> {{track.name}}</label>
    <br>

    <label>Current description: </label>
    <label class="detailColor">{{track.description}}</label>
    <br>

    <label>Current type: </label>
    <label class="detailColor">{{track.type}}</label>
    <br>

    <label>Best times: </label>
  </div>

  <div *ngIf="userType === 'administrator'">
      <button (click)="save()">Edit</button>
  </div>
</div>
