<div id="vertical" class="track-detail" *ngIf="track !== undefined">
  <div *ngIf="endGame == false">
  <h2 class="detailColor">{{track.name}} track details!</h2>
  <div>
    <label>Current name: </label>
    <label class="detailColor"> {{track.name}}</label>
    <br>

    <label>Current description: </label>
    <label class="detailColor">{{track.description}}</label>
    <br>

    <label>Current type: </label>
    <label class="detailColor">{{track.type}}</label>
    <br>

    <label>Rating: </label>
    <label *ngIf="track.rating === -1" class="detailColor">N/A</label>
    <label *ngIf="track.rating !== -1" class="detailColor">{{track.rating}}</label>
    <br>

    <label>Number of times played: </label>
    <label class="detailColor">{{track.numberOfTimesPlayed}}</label>
    <br>

    <div>
      <button (click)="showBestTimes()">Best times</button><br>
     
    </div>  
  </div>
  <br>

  <label>
    <div>
      <img class="imag" src="./assets/noir.jpg"> <!-- Vignette temporaire pour les pistes-->
    </div>
  </label>
</div>
</div>

<div id="vertical" class="bestTimes" *ngIf="track !== undefined">
  <label *ngIf="bestTimesDisplayed || endGame"> 
    <ul>
      <li *ngFor="let bestTime of track.bestTimes|slice:0:5">
        Player name: <label class="detailColor">{{bestTime.playerName}}</label>
        Time: <label class="detailColor">{{bestTime.time}}</label>
        <br>
      </li>
    </ul>
  </label>  
</div>
<br>
