<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper blue darken-4">
    <a href="#" class="brand-logo">{{title}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="racing-game">Race Game</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="crossword-game">Crossword Game</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

