#racing-game {
    margin-left:20%;
    margin-top: 10%;
    width: 40rem;
    border-width: 2pt;
    border-color:limegreen;
}

#crossword-game {
    margin-left: 10%;
    margin-top: 10%;
    width: 40rem;
    border-width: 2pt;
    border-color: blue;
}

#home-page {
    background-image: url('../../assets/images/poly.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
