<div class="row">
    <div class="col">
        <div class="card" id="racing-game">
        <img class="card-img-top" src="../../assets/background_proposal.png" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Racing Game</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Play</a>
        </div>
        </div>
    </div>
    <div class="col">
        <div class="card" id="crossword-game">
        <img class="card-img-top" src="../../assets/space_background.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Crossword Game</h4>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Play</a>
        </div>
        </div>
    </div>
</div>