<h3>Here are some links to help you start: </h3>
<ul>
  <li>
    <h5>Message from the localhost:3000 : {{message}} </h5>
  </li>
  <li>
    <h5><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h5>
  </li>
  <li>
    <h5><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h5>
  </li>
  <li>
    <h5><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h5>
  </li>
</ul>

<!-- <app-track-component></app-track-component> -->
<app-cube-component [rotationSpeedX]="0.005"
[rotationSpeedY]="0.01">
</app-cube-component>
