
<div class="page-header">
  <h1><i class="fa fa-user" aria-hidden="true"></i> Administration</h1>
</div>
<ul class="nav nav-tabs">
  <li
    class="nav-item"
    [routerLink]="['/admin/settings']"
    [class.selected]="selectedTab === 'settings'"
  >
    <a class="nav-link">Account Settings</a>
  </li>
  <li
    class="nav-item"
    [routerLink]="['/admin/tracks']"
    [class.selected]="selectedTab === 'tracks'"
  >
    <a class="nav-link">Racing Game</a>
  </li>
</ul>
<router-outlet (activate)="onActivate($event)"></router-outlet>