<br>
<h2 id="client-only">Track List</h2>
<div class="row">
  <div class="col col-md-4">
    <ul class="tracks" class="list-group" id="track-list">
        <app-track-list [track]="trackName"></app-track-list>
    </ul>
    <button id="add-track" class="btn btn-primary" [routerLink]="['/admin/tracks/new']">
      Add Track
    </button>
  </div>
  <div class="col">
    <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
    <div *ngIf="trackName !== undefined">
      <button [routerLink]="['/admin/tracks', trackName, 'edit']">Edit</button>
      <button (click)="delete()" [routerLink]="['/admin/tracks']">Delete</button>
    </div>
  </div>
</div>