<div class="container">
  <div *ngIf="!passwordCorrect" class="form-inline">
    <!-- login form -->
    <div class="wrapper">
      <form class="form-signin">
        <h4 class="form-signin-heading">Admin Login</h4>
        <input type="password" class="form-control" placeholder="Password" #passwordInput />
        <button id="login" (click)="login(passwordInput.value); passwordInput.value=''" class="btn btn-primary">Login</button>
      </form>
    </div>
    <!-- login form end -->
  </div>
  <div *ngIf="passwordCorrect">
    <div class="page-header">
      <h1 class="glyphicon glyphicon-user">  Adminstration</h1>
    </div>
    <ul class=" nav nav-tabs">
      <li (click)="toggleAccountSettings()" [ngClass]="{'active': this.accountSettings}"><a data-toggle="tab">Account Settings</a></li>
      <li (click)="toggleRacingGameSettings()" [ngClass]="{'active': this.racingGameSettings}"><a data-toggle="tab">Racing Game</a></li>
    </ul>
    <div class="tab-pane"  *ngIf="accountSettings">
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h1>Change password</h1>
        </div>
        <div class="col-md-6">
          <div *ngIf="!passwordChanged">
            <div class="form-group">
              <label for="exampleInputEmail1">Old password</label>
              <input type="password" class="form-control" placeholder="Old password" #oldPassword>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">New password</label>
              <input type="password" class="form-control" placeholder="New password" #newPassword>
            </div>
            <button (click)="changePassword(oldPassword.value, newPassword.value);
                      oldPassword.value=''; newPassword.value=''" class="btn btn-primary">
              Submit
            </button>
          </div>
          <div *ngIf="passwordChanged" class="alert alert-success">
            You have successfully changed your password!
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="tab-pane" *ngIf="racingGameSettings">
      <button id="add-track" class="btn btn-primary" [routerLink]="['/admin/tracks/new']">
        New Track
      </button>
      <app-track-list [userType]="userType"></app-track-list>
    </div>
  </div>
</div>
