  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1>
          <span id="option"><label>Option: {{option}}</label></span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1>
          <span  id="mode"><label>Mode: {{mode}}</label></span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <h1>
          <span  id="level"><label>Level: {{level}}</label></span>
        </h1>
      </div>
    </div>
  </div>
  
  